* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  flex-wrap: wrap;
}

.name h1 {
  margin: 50px 50px 0px 50px;
}

.main-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  /*background-color:antiquewhite;*/
  margin: 0px 50px 50px 50px;
  padding: 50px;
}

.navbar {
  background-color: #333;
  min-width: 150px;
  padding: 30px;
  color:#f0f0f0;
  border-radius: 30px;
}

.content {
  background-color: gray;
  margin-left: 50px;
  width: 100%;
  padding: 30px;
  border-radius: 30px;
}